<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{meta_title}}</title>
<link rel="stylesheet" href="{{asset " built/screen.css"}}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap">

<script>
  var siteUrl = '{{@site.url}}';
</script>

<script>
  var localTheme = localStorage.getItem('dawn_theme');
  switch (localTheme) {
    case 'dark':
      document.documentElement.classList.add('theme-dark');
      break;
    case 'light':
      document.documentElement.classList.add('theme-light');
      break;
    default:
      break;
  }
</script>